# aspose_words
fire
pandas
python_docx
scikit_learn
openpyxl
tabulate
Pillow
fonttools==4.55.0
PyMuPDF==1.24.14
PyPDF2
pdf2docx==0.5.8
pytesseract
icalendar
#openai==0.28.1
gymnasium
rich
docker
mysql-connector-python
rpyc
pyyaml
msal
ruamel.yaml
openai
azure-identity