__pycache__
*.pyc
.DS_Store
.init
*.log
openai_key.txt
gemini_key.txt
exp/
outputs*/
cache/
results/
docs/
.msal_tokens.json
pyrightconfig.json
scratch/
analysis/*.txt
analysis/*.csv
analysis/*.png
tmp/
workdir/
.vscode/
apps/exp_config.yaml
outputs/


results/
log/
outputs/
local_workdir/

*__pycache__